@import model.CsvTable

@(csvTable: CsvTable)

@main("Select columns") {
    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
        <h4 class="h4">Please check the columns that contain street name and building number</h4>
        <button type="button" id="submitColumns" class="btn btn-success">And click here to submit</button>
    </nav>
    <table class="table">
        <thead class="thead-dark">
            <tr>
            @for(field: String <- csvTable.header) {
                <th scope="col">
                    <div class="d-flex justify-content-between">
                        <span>@field</span>
                        <input type="checkbox" title="@field" value="@field">
                    </div>
                </th>
            }
            </tr>
        </thead>
        <tbody>
        @for(row: Seq[String] <- csvTable.rows) {
            <tr>
            @for(field: String <- row) {
                <td scope="col">@field</td>
            }
            </tr>
        }
        </tbody>
    </table>
}
